{{> header }}
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="/images/usermanagement.jpg">
            <a href="/userManagement" class="text-center">
                <h4>User Management</h4>
            </a>
            <h6 class="text-center">Create, delete and edit client information</h6>
        </div>
        <div class="col-6">
            <img src="/images/food.jpg">
            <a href="/foodManagement" class="text-center">
                <h4>Food Management</h4>
            </a>
            <h6 class="text-center">Edit current food list and see client list</h6>
        </div>
    </div>
</div>
<br>
<br>

{{>footer}}